<div class="bg-orange-600 shadow-md rounded-md p-5 max-w-5xl mx-auto mb-8">
    <div class="mb-5">
        <label for="adults" class="mb-1 block font-medium text-white text-sm">Adults</label>
        <input 
            type="number"
            class="text-sm w-full border-2 border-gray-300 rounded-md block p-2 bg-gray-100 outline-none focus:border-blue-600
            focus:ring-1 focus:ring-blue-600"
        >
    </div>

    <div class="mb-5">
        <label for="children" class="mb-1 block font-medium text-white text-sm">Children</label>
        <input 
            type="number"
            class="text-sm w-full border-2 border-gray-300 rounded-md block p-2 bg-gray-100 outline-none focus:border-blue-600
            focus:ring-1 focus:ring-blue-600"
        >
    </div>

    <div class="mb-5">
        <label for="rooms" class="mb-1 block font-medium text-white text-sm">Rooms</label>
        <input 
            type="number"
            class="text-sm w-full border-2 border-gray-300 rounded-md block p-2 bg-gray-100 outline-none focus:border-blue-600
            focus:ring-1 focus:ring-blue-600"
        >
    </div>
    
    <div class="mb-5">
        <label for="check_in" class="mb-1 block font-medium text-white text-sm">Check In Date</label>
        <input 
            type="date"
            class="text-sm w-full border-2 border-gray-300 rounded-md block p-2 bg-gray-100 outline-none focus:border-blue-600
            focus:ring-1 focus:ring-blue-600"
            name="check_in"
            required
        >
    </div>

    <div class="mb-5">
        <label for="check_out" class="mb-1 block font-medium text-white text-sm">Check Out Date</label>
        <input 
            type="date"
            class="text-sm w-full border-2 border-gray-300 rounded-md block p-2 bg-gray-100 outline-none focus:border-blue-600
            focus:ring-1 focus:ring-blue-600"
            name="check_out"
            required
        >
    </div>

    <button
        class="bg-blue-600 text-white text-sm font-semibold rounded-md px-4 py-2 focus:ring-1 outline-none focus:ring-offset-2
        focus:ring-blue-600"
    >
        Check Avaliability
    </button>
</div>